{
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 4,
  "printWidth": 120,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "tadWidth": 2,
        "printWidth": 40,
        "singleQuote": true
      }
    }
  ]
}
